@import "../../App.scss";
@import "../../index.scss";

.folderTree {
    position: relative;
    margin-top: 30px;

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__tree {
        position: absolute;
        top: 50px;
        left: 482px;
        width: 5px;
        background-color: var(--main-color);
        opacity: 0.4;

        @include desktop__big {
            left: 354px;
        }

        @include md {
            left: 50%;
        }

        &--exp {
            height: 850px;
            top: unset;
            margin-top: 30px;

            @include desktop__big {
                height: 1050px;
            }

            @include md {
                height: 1300px;
            }

            @include custom__value(467px) {
                height: 1450px;
            }

            @include custom__value(379px) {
                height: 1600px;
            }

            @include custom__value(345px) {
                height: 1800px;
            }
        }

        &--edu {
            height: 600px;

            @include desktop__big {
                height: 800px;
            }

            @include md {
                height: 1000px;
            }

            @include custom__value(651px) {
                height: 1200px;
            }

            @include custom__value(398px) {
                height: 1450px;
            }

            @include custom__value(337px) {
                height: 1500px;
            }
        }
    }
}

.btn__more {
    cursor: pointer;
    font-size: 22px;
    color: #19762d;
}