@charset "UTF-8";

@import "./src/assets/scss/vars.scss"; // 変数 Variable
@import "./src/assets/scss/functions.scss"; // 関数等 Function
@import "./src/assets/scss/mixin.scss"; // mixin
@import "./src/assets/scss/animated.scss"; // mixin

.animated {
    @include animated;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 0;
}

.loadingAnimate {
    @include animated;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fade {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
}

.fadeBanner {
    -webkit-animation-name: fadeUpBanner;
    animation-name: fadeUpBanner;
}

.animate_delay {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}